@font-face {
  font-family: 'AlluraRegular';
  src: url('fonts/Allura-Regular.ttf');
}
@font-face {
  font-family: 'AnkeCallig';
  src: url('./fonts/ankecallig-fg.ttf');
}
@font-face {
  font-family: 'BlackJack';
  src: url('./fonts/black_jack.ttf');
}
@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/Dancing Script.ttf');
}
@font-face {
  font-family: 'GradeCursive';
  src: url('./fonts/gradecursive.ttf');
}
@font-face {
  font-family: 'HoneyScriptLight';
  src: url('./fonts/HoneyScript-Light.ttf');
}
@font-face {
  font-family: 'GreatVibes';
  src: url('./fonts/GreatVibes.ttf');
}
@font-face {
  font-family: 'IndieFlower';
  src: url('./fonts/IndieFlower.ttf');
}
.FontSelector {
  max-width: 50%;
}
.AlluraRegular {
  font-family: AlluraRegular;
  font-size: 35px;
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.AnkeCallig {
  font-family: AnkeCallig;
  font-size: 30px;
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.BlackJack {
  font-family: BlackJack;
  font-size: 25px;
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.DancingScript {
  font-family: DancingScript;
  font-size: 33px;
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.GradeCursive {
  font-family: GradeCursive;
  font-size: 13px;
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
