@font-face {
  font-family: 'AlluraRegular';
  src: url('/fonts/Allura-Regular.ttf');
}
@font-face {
  font-family: 'AnkeCallig';
  src: url('/fonts/ankecallig-fg.ttf');
}
@font-face {
  font-family: 'BlackJack';
  src: url('/fonts/black_jack.ttf');
}
@font-face {
  font-family: 'DancingScript';
  src: url('/fonts/Dancing Script.ttf');
}
@font-face {
  font-family: 'GradeCursive';
  src: url('/fonts/gradecursive.ttf');
}
@font-face {
  font-family: 'HoneyScriptLight';
  src: url('/fonts/HoneyScript-Light.ttf');
}
@font-face {
  font-family: 'GreatVibes';
  src: url('/fonts/GreatVibes.ttf');
}
@font-face {
  font-family: 'IndieFlower';
  src: url('/fonts/IndieFlower.ttf');
}
.FontSelector {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.SigBox {
  position: absolute;
  background-color: rgb(211, 253, 245);
  cursor: pointer;
}
.Font {
  line-height: 25px;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.Font:hover {
  border: 1px solid rgb(49, 85, 15);
}
.alluraregular {
  font-family: AlluraRegular;
  font-size: 35px;
}
.ankecallig {
  font-family: AnkeCallig;
  font-size: 30px;
  line-height: 25px;
}
.blackjack {
  font-family: BlackJack;
  font-size: 25px;
}
.dancingscript {
  font-family: DancingScript;
  font-size: 33px;
}
.gradecursive {
  font-family: GradeCursive;
  font-size: 13px;
}
.honeyscriptlight {
  font-family: HoneyScriptLight;
  font-size: 33px;
}

body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  font-family: 'Open Sans';
  background: linear-gradient(to right top, #53abcf, #2973a1);
  min-height: 100vh;
}

#content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glasspanel {
  background-color: white;
  border-radius: 0.5rem;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
