@import url(//fonts.googleapis.com/css?family=Oswald:400,300|Dancing+Script|Noto+Sans|Roboto:200,400,500|Open+Sans:400,500);
body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  font-family: 'Open Sans';
  background: linear-gradient(to right top, #53abcf, #2973a1);
  min-height: 100vh;
}

#content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glasspanel {
  background-color: white;
  border-radius: 0.5rem;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.SigBox,
.InitBox {
  border-collapse: collapse;
  font-size: 8px;
  position: absolute;
  z-index: 250;
}

.sig-font {
  font-family: 'Dancing Script', cursive;
}
